.create-playlist-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    color: #1db954;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-label {
    display: flex;
    align-items: center;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #1db954;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
}

.status {
    margin-top: 15px;
    font-size: 16px;
    color: #ff0000;
}

.playlist-details {
    margin-top: 20px;
}

.playlist-details a {
    color: #1db954;
    text-decoration: none;
}